@import "normalize.scss";
@import "nord.scss";

$fa-font-path: "{{ .Site.BaseURL }}/webfonts";
@import "fa/fontawesome.scss";
@import "fa/brands.scss";
@import "fa/solid.scss";
@import "fa/regular.scss";

$font-path: "{{ .Site.BaseURL }}/webfonts";
@import "fonts.scss";

@import "nord_pygments.scss";

$font-normal: Raleway, sans-serif;
$font-heading: "Open Sans Condensed";

@mixin mobile {
  @media (max-width: 425px) {
    @content;
  }
}

body {
  background: $nord1;
  color: $nord4;
  font-family: $font-normal;

  font-size: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  min-height: 100vh;

  @include mobile {
    font-size: 15px;
  }
}

a {
  color: $nord8;
  transition: color 0.1 linear;
  border-radius: 0.1em;

  &:hover {
    color: $nord12;
  }
}

nav.main {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;

  @include mobile {
    font-size: 1.3rem;
  }

  ul {
    margin: 0 1em;
    display: flex;
    li {
      margin: 0;
      padding: 0;
    }
  }

  a {
    display: flex;
    min-width: 1.5em;
    height: 1.5em;
    margin: 0.2em;
    background: $nord8;
    color: $nord3;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 0.2em;
    transition: background 0.1s linear;
    &:hover {
      background: $nord12;
    }
  }

  .pages a {
    padding: 0 0.5em;
  }
}

.draft-label {
  font-weight: bold;
  color: $nord12;
}

p {
  text-align: justify;
}

strong {
  font-weight: 600;
}

.markdown {
  hyphens: auto;
  img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
  }
}

figure {
  @media (max-width: 400px) {
    margin: 0;
  }

  figcaption h4 {
    font-family: $font-normal;
    font-size: 1rem;
    text-align: center;
    margin: 0 0 1em 0;
  }
}

.meta {
  color: $nord6;
  font-style: italic;

  &:before {
    content: "\2014";
    padding-right: 0.2em;
  }
}

.container {
  padding: 20px;
  padding-bottom: 4em;
  flex: 1;
  // max-width: 800px;
  width: 100%;
  box-sizing: border-box;

  @media (min-width: 800px) {
    width: 800px;
  }
}

code {
  background: $nord0;
  padding: 0 0.2em;
  border-radius: 0.1em;
}

pre {
  code {
    padding: 1em 1em;
    display: block;
    overflow-y: scroll;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading;
  margin: 1em 0;
  font-weight: normal;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.55rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.45rem;
}
h6 {
  font-size: 1.4rem;
}

.site-title {
  width: 100%;
  text-align: center;
  font-weight: normal;
  margin: 0;

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: inherit;
      background: transparent;
    }
  }
}

.site-description {
  display: flex;
  align-items: center;
  font-style: italic;
  justify-content: stretch;
  width: 100%;
  text-align: center;
  margin: 0;

  h2 {
    flex: 1;
    margin: 0;
    font-weight: normal;
    font-size: 1.1rem;
    font-family: Raleway;
  }
}

.post-header h1 {
  margin-bottom: 0.5em;
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

ul.flat {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    display: inline;
    margin: 0;
    padding: 0 0.5em;
  }
}

.gh-icon {
  @extend .fa-github-alt;
}

.tw-icon {
  @extend .fa-twitter;
}

.ig-icon {
  @extend .fa-instagram;
}

.li-icon {
  @extend .fa-linkedin-in;
}

.xi-icon {
  @extend .fa-xing;
}

.posts {
  .meta {
    font-style: italic;
  }
}

.footer {
  background: $nord0;
  padding: 1em;
  text-align: center;
  align-self: stretch;
  a {
    color: inherit;
  }
}

.recent-posts {
  .title {
    @extend h3;

    text-decoration: none;
    display: block;
    margin: 0 0;

    &:hover {
      text-decoration: underline;
    }
  }

  .meta {
    margin: 0.2em 0;
  }

  .post {
    margin-bottom: 3em;
  }
}

nav.tags {
  font-style: italic;

  li:first-child {
    padding-left: 0;
  }
}
