<div class="header">
	<h1 class="site-title"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>

  <nav class="nav social">
      {{- range $index, $key := .Site.Params.Social -}}
      <a href="{{ $key.url }}" title="{{ $key.name }}" target="blank"><i class="fab {{ $key.icon }}"></i></a>
      {{- end -}}
  </nav>

	<div class="site-description">
		{{- if isset .Site.Params "subtitle" -}}
		<h2>{{ .Site.Params.Subtitle | markdownify }}</h2>
		{{- end -}}
	</div>

	<nav class="nav main">
		<ul class="flat">
			{{ range .Site.Menus.main }}
			<li>
				<a href="{{ .URL }}">{{ .Name }}</a>
			</li>
			{{ end }}
		</ul>
	</nav>
</div>
